*{
	-theme-color: #404040;
	-theme-color-light: #666666;
	-contrast-color: white;
}

.root-content-box{
	-fx-border-width: 0px;
	-fx-border-color: -theme-color;
	-fx-background-color: -theme-color;
}

.title-bar{
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: white;
	-fx-background-color: #404040;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: white;
   -fx-pref-width: 2px;
   -fx-min-width: 2px;
   -fx-max-width: 2px;
}

.jfx-tab-pane {
	-fx-background-color: #404040;
}

.jfx-tab-pane .tab .tab-label {
	-fx-font-weight: normal;
	-fx-font-size: 20.0;
	-fx-text-fill: -contrast-color;
}

.jfx-tab-pane .tab:selected .tab-label {
	-fx-font-weight: bold;
}

.jfx-tab-pane .headers-region {
	-fx-background-color: -theme-color;
}

.jfx-tab-pane .tab-header-background {
	-fx-background-color: -theme-color;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
	-jfx-rippler-fill: -contrast-color;
}

.jfx-tab-pane .tab-selected-line {
	-fx-background-color: -contrast-color;
}

.jfx-password-field {
	-fx-font-size: 15.0;
	-fx-text-fill: -contrast-color;
	-fx-prompt-text-fill: -contrast-color;
	-fx-focus-color: -theme-color;
}

.jfx-button {
	-fx-background-color: -theme-color;
	-fx-text-fill: -contrast-color;
}

.jfx-check-box {
	-fx-checked-color: -theme-color;
	-fx-unchecked-color: -contrast-color;
	-fx-text-fill: -contrast-color;
}

.jfx-check-box .mark {
	-fx-border-color: -contrast-color;
}

.glyph-icon {
	-fx-fill: -contrast-color;
}
