.message-view{
	-fx-background: rgba(0, 0, 64, 0);
}

.scroll-bar:vertical,
.scroll.bar:horizontal{
	-fx-background-color: transparent;
}

.scroll-bar:vertical *.decrement-button,
.scroll-bar:horizontal *.decrement-button,
.scroll-bar:vertical *.decrement-arrow,
.scroll-bar:horizontal *.decrement-arrow,
.scroll-bar:vertical *.increment-button,
.scroll-bar:horizontal *.increment-button,
.scroll-bar:vertical *.increment-arrow,
.scroll-bar:horizontal *.increment-arrow{
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
	-fx-border-radius: 5em;
	-fx-background-radius: 5em;
	-fx-background-color: gray;
}

.scroll-bar:horizontal .thumb{
	-fx-border-radius: 5em;
	-fx-background-radius: 5em;
	-fx-background-color: gray;
}

.scroll-bar .decrement-arrow{
    -fx-padding:1.75;
 }
 
.scroll-bar .increment-arrow{
    -fx-padding:1.75;
}
 
.scroll-bar:horizontal .decrement-button, .scroll-bar:horizontal .increment-button{
	-fx-min-width: 0px;
	-fx-max-width: 0px;
	-fx-pref-width: 0px;
}

.scroll-bar:vertical .decrement-button, .scroll-bar:vertical .increment-button{
	-fx-min-height: 0px;
	-fx-max-height: 0px;
	-fx-pref-height: 0px;
}

.scroll-pane{
	-fx-background-color: #404040;
}

.scroll-pane .corner {
	-fx-background-color: #404040;
}